.comment {
    margin-bottom:25px;
}

.comment-user {
    text-align:center;
}

@media (max-width:767px) {
    .comment-user {
        margin-bottom:10px;
    }
}

.comment-avatar img {
    border-radius:50%;
}

.comment-name {
    margin-top:5px;
    font-size:12px;
}

.comment-company {
    font-size:12px;
    font-weight:bold;
}

.comment-data {
    padding:15px;
    border:1px solid #ccc;
    border-radius:5px;
    background-color:#F7F7F8;
}

.comment-date {
    font-size:12px;
    margin-bottom:10px;
}

.comment-content {
    font-style: oblique;
    text-align:justify;
    margin-bottom:10px;
}