.pagination-container {
    margin:0;
}

.pagination-container .pagination {
    margin:0;
}

.pagination-container .nrecords {
    margin:0;
    font-size:13px;
    font-style: oblique;
    text-align:right;
}

@media (min-width:768px) {
    .pagination-container .nrecords {
        line-height:39px;
    }
}